target
build
.gradle
.directory
.factorypath
.classpath
.settings
.project
rebel.xml
/karaf*
/geronimo*
/inventory.web.shop
/inventory.web.mall
/person.web.mall
/person.web.shop
/person.web.sys
/person.web.pub
/person.web.registration
/web.mall
/web.shop
/web.sys
/web.pub
/product.web.mall
/product.web.shop
/product.web.sys
/product.web.pub
/salesorder.web.mall
/salesorder.web.shop
/salesorder.web.sys
/salesorder.web.pub
/shop.web.mall
/shop.web.shop
/shop.web.sys
/shop.web.pub
/shop.story
/booking.like
/booking.story
/product.story
/wink.facebook
/wink.story
/story.facebook
/like.facebook
/like.story
/follow.story
/comment.facebook
/comment.story
